<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Messages</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>

<body>
  <div class="container">

    <div class="wrapNavBar">
      <%- include('partials/navbar.ejs') %>
    </div>

    <div class="post-handler">

      <div class="heading">
        <h1>All Messages Posted</h1>
      </div>

      <div class="messages">
        <% for(var i = 0; i < data.length; i++) { %>
          <div class="wrapper"  data-Post=<%=data[i].id %>>
            <div class="messageCircle">
              <h2><%= data[i].title  %> </h2>
              <p> <%=  data[i].body %> </p>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>
          <% } %>
      </div>

    </div>

  </div>

  <%- include('partials/footer.ejs') %>

</body>

</html>
